fastapi
uvicorn
pymupdf
langchain-text-splitters
google-generativeai
faiss-cpu
python-dotenv
fastapi
uvicorn
python-dotenv
google-generativeai
pymupdf
langchain-text-splitters
python-multipart


